### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
*.jar
*.war
*.zip

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log
*.out

### OS / Sistema ###
.DS_Store
Thumbs.db

### Node ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Otros ###
.env
.env.*
